.content {
    height: 100%;
    width: 100%;

    background-image: url('~src/assets/back.jpg');
    background-position: right;
    background-size: cover;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;


}
